<mat-toolbar color="primary">
  <span>LeavesHub - Forests of knowledge</span>
</mat-toolbar>

<mat-card>
  <h2>Login</h2>

  <form>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input name="email" matInput placeholder="your@email.com" type="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input name="password" matInput type="password" required>
      </mat-form-field>
    </div>
    <a href="/lost-password" [routerLink]="['/lost-password']">Forgot password?</a>
    <button mat-raised-button color="accent">Login</button>
  </form>
</mat-card>

<div class="form-splitter">In case of you are not sharing leaves yet...</div>

<mat-card>
  <h2>Register</h2>

  <form>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input (click)="registerButtonClickEventHandler()" [ngModel]="registerEmailField" name="email" matInput placeholder="your@email.com" type="email" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent">Register</button>
  </form>
</mat-card>

<div class="terms-and-conditions">
  <ul>
    <li>Terms</li>
    <li>Privacy</li>
    <li>Contact</li>
  </ul>
</div>
