<app-header-toolbar></app-header-toolbar>

<mat-card>
  <h2>Reset your password</h2>

  <p>
    We will send you and email in order to reset your password.
  </p>

  <form (submit)="this.onSubmitResetPasswordFormEventHandler()">
    <mat-error *ngIf="this.status === this.STATUS_ERROR">
      {{ this.error }}
    </mat-error>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [formControl]="lostPasswordFormControl" name="email" matInput placeholder="your@email.com" type="email" required>
      </mat-form-field>
    </div>
    <button [disabled]="lostPasswordFormControl.invalid" mat-raised-button color="accent">Send password reset email</button>
  </form>
</mat-card>

<app-links-footer></app-links-footer>
