<mat-toolbar color="primary">
  <span>LeavesHub - Forests of knowledge</span>
</mat-toolbar>

<mat-card>
  <h2>Login</h2>

  <form>
    <div>
      <mat-form-field>
        <mat-label>Your password</mat-label>
        <input name="password" matInput stype="password" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat your password</mat-label>
        <input name="password-verify" matInput type="password" required>
      </mat-form-field>
    </div>
    <a href="/lost-password" [routerLink]="['/lost-password']">Forgot password?</a>
    <button mat-raised-button color="accent">Login</button>
  </form>
</mat-card>

<div class="terms-and-conditions">
  <ul>
    <li>Terms</li>
    <li>Privacy</li>
    <li>Contact</li>
  </ul>
</div>
