mat-card {
  max-width: 500px;
  margin: 15px auto;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

a {
  float: right;
  clear-after: both;
}

.form-splitter {
  text-align: center;
  max-width: 500px;
  position: relative;
  margin: 10px auto;
}

.terms-and-conditions {
  ul {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
}
