<mat-card>
  <h2>Login</h2>

  <form [formGroup]="formGroup">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" name="email" matInput placeholder="your@email.com" type="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" name="password" matInput type="password">
      </mat-form-field>
    </div>
    <a href="/lost-password" [routerLink]="['/lost-password']">Forgot password?</a>
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    <button [disabled]="!formGroup.valid" mat-raised-button color="accent">Login</button>
  </form>
</mat-card>
